
[submodule "llama2.c"]
	path = llama2.c
	url = https://github.com/karpathy/llama2.c.git
[submodule "OPI-baremetal"]
	path = OPI-baremetal
	url = https://github.com/Djiby-diop/OPI-baremetal.git
[submodule "llm.c"]
	path = llm.c
	url = https://github.com/karpathy/llm.c.git
[submodule "oo-constitution"]
	path = oo-constitution
	url = https://github.com/Djiby-diop/oo-constitution.git
[submodule "oo-host"]
	path = oo-host
	url = https://github.com/Djiby-diop/oo-host.git
[submodule "oo-lab"]
	path = oo-lab
	url = https://github.com/Djiby-diop/oo-lab.git
[submodule "oo-model"]
	path = oo-model
	url = https://github.com/Djiby-diop/oo-model.git
[submodule "oo-sim"]
	path = oo-sim
	url = https://github.com/Djiby-diop/oo-sim.git
[submodule "oo-system"]
	path = oo-system
	url = https://github.com/Djiby-diop/oo-system.git